$elc_headtabs_height:30px;
$elc_headctls_height:40px;
$elc_editctls_height:60px;
$elc_headctls_searchbutton_width:50px;
$elc_headctls_searchcancel_width:50px;

$elc_default_font:Arial,'Helvetica Neue',Helvetica,sans-serif;

@mixin toggle_group_panel($class){
  .entity_lists_wrapper .group .#{$class}{display:none;}
  .entity_lists_wrapper .group.solo-#{$class} > *{display:none;}
  .entity_lists_wrapper .group.solo-#{$class} > .#{$class}{display:block;}
}

/*basic layout styles*/
.entity_lists_wrapper{
  font-family:$elc_default_font;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;

  *{box-sizing:inherit;-moz-box-sizing:inherit;font-family:inherit;line-height:inherit;}

  .entities_head{
    position:absolute;top:0;left:0;width:100%;height:($elc_headtabs_height + $elc_headctls_height);background-color:#fff;

    .groups{font-size:0;position:absolute;left:0;top:0;width:100%;height:$elc_headtabs_height;}
    > *,> .groups{font-size:($elc_headtabs_height * .6);}
    .groups .group{color:#949494;display:inline-block;line-height:$elc_headtabs_height;padding:0 ($elc_headtabs_height / 2);cursor:pointer;}
    .groups .group:hover{color:#AFA7A7;}
    .groups .group.active,.groups .group.active:hover{text-decoration:underline;color:#000;}
    .controls{padding:0 ($elc_headtabs_height / 2);position:absolute;left:0;bottom:0;width:100%;height:$elc_headctls_height;}
    .controls .control{display:none;position:relative;height:100%;line-height:$elc_headctls_height;}
    .controls .control.active{display:block;}
    .controls .search{
      position:absolute;left:0;top:0;width:50%;height:100%;border-bottom:solid 1px #ccc;

      .go,input,.cancel{position:absolute;height:($elc_headctls_height * .7);line-height:($elc_headctls_height * .7);}
      .go{text-align:center;cursor:pointer;left:0;top:0;bottom:0;margin:auto;width:$elc_headctls_searchbutton_width;}
      input{border:none;font-size:13px;outline:none;border-left:solid $elc_headctls_searchbutton_width transparent;border-right:solid $elc_headctls_searchcancel_width transparent;left:0;top:0;bottom:0;right:0;margin:auto;width:100%;padding:0 10px;}
      .cancel{text-align:center;cursor:pointer;right:0;top:0;bottom:0;margin:auto;width:$elc_headctls_searchcancel_width;}
      .cancel svg,
      .go svg{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;}
      .cancel:hover svg path,
      .go:hover svg path{fill:#C3C3C3;}
    }
    .controls svg{width:($elc_headctls_height * .6);height:($elc_headctls_height * .6);
      path{fill:#6D6D6D;}
    }
    .controls .actions{
      position:absolute;right:0;top:0;width:50%;height:100%;text-align:right;

      > *{position:relative;height:100%;display:inline-block;padding:0 13px;}
      .add{@extend .btn_default;}
    }
  }

  .entities_body{
    padding:($elc_headtabs_height / 2);position:absolute;top:($elc_headtabs_height + $elc_headctls_height);bottom:0;left:0;right:0;margin:auto;

    .groups{width:100%;height:100%;}
    .groups .group{
      display:none;width:100%;height:100%;

      .items{overflow:auto;width:100%;height:100%;@extend .row;}
      .items .item{
        cursor:pointer;position:relative;width:33.3333%;padding:($elc_headtabs_height / 2);border:solid ($elc_headtabs_height / 4) #fff;background-color:#E3E3E3;box-shadow:inset 0 0 30px rgba(0,0,0,.1);

        .v{
          display:block;height:200px;font-size:16px;overflow:auto;
        }

        .value{margin:0;font-size:inherit;opacity:1;@include transition(opacity .2s linear);}

        .btn-copy,.btn-edit,.btn-delete{
          @extend .btn_default;position:absolute;font-size:20px;opacity:0;@include transition(opacity .2s linear);padding:7px 14px;
        }
        &:hover{
          .btn-copy,.btn-edit,.btn-delete{opacity:1;}
          .value{opacity:.3;};
        }
        .btn-copy{top:($elc_headtabs_height / 4);left:($elc_headtabs_height / 4);}
        .btn-edit{right:($elc_headtabs_height / 4);top:($elc_headtabs_height / 4);}
        .btn-delete{left:($elc_headtabs_height / 4);bottom:($elc_headtabs_height / 4);}
      }
    }
    .groups .group.active{display:block;}
    .menu-edit-field{
      width:100%;height:100%;position:relative;

      .scroll-fields{overflow:auto;position:absolute;left:0;top:0;right:0;margin:auto;bottom:($elc_editctls_height + ($elc_headtabs_height / 2));border-bottom:solid 1px #DFDFDF;}
      .btns{
        position:absolute;bottom:0;left:0;right:0;margin:auto;height:$elc_editctls_height;

        .save,.cancel{
          @extend .btn_default;padding:0 13px;height:100%;line-height:$elc_editctls_height;font-size:($elc_editctls_height / 2);

          .ico{
            svg{width:($elc_editctls_height * .6);height:($elc_editctls_height * .6);}
          }
        }
        .save{float:left;}
        .cancel{float:right;}
      }
      .fields-heading{background-color:#8A8A8A;font-size:($elc_editctls_height / 2);line-height:$elc_editctls_height;padding:0 ($elc_headtabs_height / 2);color:#fff;font-weight:100;font-style:italic;}
      .fields{}
      .fields .field{
        padding:($elc_headtabs_height / 2);
        > label{color:#ccc;font-style:italic;display:block;margin-bottom:($elc_headtabs_height / 2);}
        input[type="text"],textarea{font-size:16px;}
        input[type="text"]{width:100%;height:35px;padding:0 8px;}
        textarea{width:100%;height:60%;padding:($elc_headtabs_height / 2);}
      }
    }
  }
}

@include toggle_group_panel('menu-edit-field');
